<div class="container">
  <div class="row">
    <div class="col-12 text-center py-2">
      <img src="../../../assets/logo.png" class="logo" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row" *ngIf="uploadInfo.status">
    <div class="col text-right">
      <span *ngIf="uploadInfo.status == 'pending'">
        <img src="../../../assets/loading.gif" width="50px" />
      </span>
      <span *ngIf="uploadInfo.status == 'finish'" class="status status--success"
        >FINALIZADO</span
      >
      {{ uploadInfo.count }} TOTAL / {{ uploadInfo.qntRemaining }} RESTANTE(S) /
      {{ uploadInfo.qntAdded }} ADICIONADO(S) /
      {{ uploadInfo.qntUpdated }} ATUALIZADO(S)
    </div>
  </div>
  <form class="row pb-3" [formGroup]="searchForm" (ngSubmit)="getDeliveries()">
    <div class="col-md-3">
      <div class="form-group">
        <label>Data Inicial</label>
        <input
          type="date"
          class="form-control"
          formControlName="initialDate"
          [ngClass]="{
            'is-invalid': f.initialDate.errors && f.initialDate.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="f.initialDate.errors && f.initialDate.errors.required"
        >
          Insira data uma data
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Data Final</label>
        <div class="input-group mb-3">
          <input type="date" class="form-control" formControlName="finalDate" />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              type="submit"
              placement="bottom"
              ngbTooltip="Pesquisar"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col actions">
      <button
        type="button"
        class="btn btn-secondary mx-2"
        placement="bottom"
        ngbTooltip="Enviar entregas"
        (click)="upload()"
      >
        <i class="fa fa-upload"></i>
      </button>
      <button
        type="button"
        class="btn btn-primary mx-2"
        placement="bottom"
        ngbTooltip="Agendar nova entrega"
        (click)="add()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </form>
  <div class="row"></div>
  <div class="row">
    <div class="col-md-12 text-center mb-2">
      <h4 *ngIf="initialDate && !finalDate">
        Exibindo de {{ formatDate(initialDate) }}
      </h4>
      <h4 *ngIf="initialDate && finalDate">
        Exibindo de {{ formatDate(initialDate) }} á
        {{ formatDate(finalDate) }}
      </h4>
      <button
        type="button"
        class="btn btn-success mx-2"
        placement="bottom"
        ngbTooltip="Baixar planilha"
        (click)="download()"
        *ngIf="deliveryList.length > 0"
      >
        <i class="fa fa-download"></i>
      </button>
    </div>
    <div
      class="col-md-12 text-center text-danger mb-2"
      *ngIf="isImcompleteData"
    >
      <b>Atenção:</b> Planilha de temperatura incompleta
    </div>
    <div
      class="col-md-12 font-weight-bold my-2 pt-2"
      *ngIf="deliveryList.length > 0"
    >
      <div class="row">
        <div class="col-md-1">
          REQ
        </div>
        <div class="col-md-3">
          CLIENTE
        </div>
        <div class="col-md-4">
          ENDEREÇO
        </div>
        <div class="col-md-1">
          STATUS
        </div>
        <div class="col-md-3 text-center">
          AÇÕES
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngFor="let d of deliveryList; let i = index">
      <app-delivery
        [delivery]="d"
        [index]="i"
        [motoboyList]="motoboyList"
      ></app-delivery>
    </div>
    <div class="col-12 text-center" *ngIf="deliveryList.length == 0">
      <h4>Nenhuma entrega encontrada</h4>
    </div>
  </div>
</div>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
