<div class="container">
  <div class="row">
    <div class="col-12 text-center py-2">
      <img src="../../../assets/logo.png" class="logo" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row" *ngIf="uploadInfo.status">
    <div class="col text-right">
      <span *ngIf="uploadInfo.status == 'pending'">
        <img src="../../../assets/loading.gif" width="50px" />
      </span>
      <span *ngIf="uploadInfo.status == 'finish'" class="status status--success"
        >FINALIZADO</span
      >
      {{ uploadInfo.count }} TOTAL / {{ uploadInfo.qntRemaining }} RESTANTE(S) /
      {{ uploadInfo.qntAdded }} ADICIONADO(S) /
      {{ uploadInfo.qntUpdated }} ATUALIZADO(S)
    </div>
  </div>
  <div class="row">
    <div class="col actions">
      <button
        type="button"
        class="btn btn-secondary mx-2"
        placement="bottom"
        ngbTooltip="Enviar entregas"
        (click)="upload()"
      >
        <i class="fa fa-upload"></i>
      </button>
      <button
        type="button"
        class="btn btn-primary mx-2"
        placement="bottom"
        ngbTooltip="Agendar nova entrega"
        (click)="add()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <form class="row pb-3" [formGroup]="searchForm" (ngSubmit)="getDeliveries()">
    <div class="col-md-3">
      <div class="form-group">
        <label>Data Inicial</label>
        <input type="date" class="form-control" formControlName="initialDate" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Data Final</label>
        <div class="input-group mb-3">
          <input type="date" class="form-control" formControlName="finalDate" />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Nome do cliente</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="customerName"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Requsição</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="requestCode"
          />
        </div>
      </div>
    </div>
    <div class="col actions">
      <button
        class="btn btn-danger"
        type="button"
        placement="bottom"
        ngbTooltip="Pesquisar"
        (click)="clearFilter()"
      >
        <i class="fa fa-trash"></i> Limpar filtros
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        placement="bottom"
        ngbTooltip="Pesquisar"
      >
        <i class="fa fa-search"></i> Procurar
      </button>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 text-center mb-2">
      <h4 *ngIf="initialDate && !finalDate">
        Exibindo de {{ formatDate(initialDate) }}
      </h4>
      <h4 *ngIf="initialDate && finalDate">
        Exibindo de {{ formatDate(initialDate) }} á
        {{ formatDate(finalDate) }}
      </h4>
      <button
        type="button"
        class="btn btn-success mx-2"
        placement="bottom"
        ngbTooltip="Baixar planilha"
        (click)="download()"
        *ngIf="deliveryList.length > 0"
      >
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12 text-center text-danger mb-2"
      *ngIf="isImcompleteData"
    >
      <b>Atenção:</b> Planilha de temperatura incompleta
    </div>
    <div
      class="col-md-12 font-weight-bold my-2 pt-2"
      *ngIf="deliveryList.length > 0"
    >
      <div class="row">
        <div class="col-md-1">
          REQ
        </div>
        <div class="col-md-3">
          CLIENTE
        </div>
        <div class="col-md-4">
          ENDEREÇO
        </div>
        <div class="col-md-1">
          STATUS
        </div>
        <div class="col-md-3 text-center">
          AÇÕES
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngFor="let d of deliveryList; let i = index">
      <app-delivery
        [delivery]="d"
        [index]="i"
        [motoboyList]="motoboyList"
      ></app-delivery>
    </div>
    <div class="col-12 text-center" *ngIf="deliveryList.length == 0">
      <h4>Nenhuma entrega encontrada</h4>
    </div>
  </div>
</div>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
