<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Entrega</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="orderCode">Número do romaneio</label>
              <input
                type="text"
                class="form-control"
                formControlName="orderCode"
                [ngClass]="{
                  'is-invalid': f.orderCode.errors && f.orderCode.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="f.orderCode.errors && f.orderCode.errors.required"
              >
                Insira o número do romaneio
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Número da requisição</label>
              <input
                type="text"
                class="form-control"
                formControlName="requestCode"
                [ngClass]="{
                  'is-invalid': f.requestCode.errors && f.requestCode.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="f.requestCode.errors && f.requestCode.errors.required"
              >
                Insira o número da requisição
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Data da entrega</label>
          <input
            type="date"
            class="form-control"
            formControlName="deliveryDate"
            [ngClass]="{
              'is-invalid': f.deliveryDate.errors && f.deliveryDate.touched
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.deliveryDate.errors && f.deliveryDate.errors.required"
          >
            Insira a data de entrega
          </div>
        </div>

        <div class="form-group">
          <label id="customerName">Nome do cliente</label>
          <input
            type="text"
            class="form-control"
            formControlName="customerName"
            [ngClass]="{
              'is-invalid': f.customerName.errors && f.customerName.touched
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.customerName.errors && f.customerName.errors.required"
          >
            Insira o nome do cliente
          </div>
        </div>
        <div class="form-group">
          <label>Endereço completo</label>
          <textarea
            type="text"
            class="form-control"
            formControlName="fullAddress"
            [ngClass]="{
              'is-invalid': f.fullAddress.errors && f.fullAddress.touched
            }"
          ></textarea>
          <div
            class="invalid-feedback"
            *ngIf="f.fullAddress.errors && f.fullAddress.errors.required"
          >
            Insira o endereço de entrega
          </div>
        </div>
        <div class="form-group" *ngIf="id">
          <label>Status</label>
          <select formControlName="status" class="form-control">
            <option value="pending">Pendente</option>
            <option value="motoboy">Com motoboy</option>
            <option value="delivered">Entregue</option>
            <option value="canceled">Cancelado</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="id">
      <div class="col-md-6">
        <div class="form-group">
          <label>Valor a receber</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              formControlName="amountReceivable"
              currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Forma de pagamento</label>
          <select formControlName="paymentMethod" class="form-control">
            <option value="money">Dinheiro</option>
            <option value="card">Cartão</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Recebido por</label>
          <input
            type="text"
            class="form-control"
            formControlName="receivedBy"
          />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="id">
      <div class="col-12 text-center">
        <p>Informações de Saída</p>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label>Data E Hora</label>
          <input
            type="datetime-local"
            class="form-control"
            formControlName="departureDateTime"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Temperatura</label>
          <input
            type="text"
            class="form-control"
            formControlName="departureTemperature"
            maxlength="2"
          />
        </div>
      </div>
    </div>
    <div class="row" *ngIf="id">
      <div class="col-12 text-center">
        <p>Informações de Entrega</p>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label>Data E Hora</label>
          <input
            type="datetime-local"
            class="form-control"
            formControlName="arrivalDateTime"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Temperatura</label>
          <input
            type="text"
            class="form-control"
            formControlName="arrivalTemperature"
            maxlength="2"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
    >
      Fechar
    </button>
    <button type="submit" class="btn btn-primary">
      Salvar
    </button>
  </div>
</form>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
