<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Entrega</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label id="orderCode">Número do romaneio</label>
              <input
                type="text"
                class="form-control"
                formControlName="orderCode"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label id="orderCode">Número da requisição</label>
              <input
                type="text"
                class="form-control"
                formControlName="requestCode"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label id="customerName">Nome do cliente</label>
          <input
            type="text"
            class="form-control"
            formControlName="customerName"
          />
        </div>
        <div class="form-group">
          <label>Endereço completo</label>
          <textarea
            type="text"
            class="form-control"
            formControlName="fullAddress"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Informações de Saída</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data</label>
          <input
            type="date"
            class="form-control"
            formControlName="departureDate"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Horário</label>
          <input
            type="time"
            class="form-control"
            formControlName="departureTime"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Temperatura</label>
          <input
            type="text"
            class="form-control"
            formControlName="departureTemperature"
            maxlength="2"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>Informações de Entrega</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data</label>
          <input
            type="date"
            class="form-control"
            formControlName="arrivalDate"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Horário</label>
          <input
            type="time"
            class="form-control"
            formControlName="arrivalTime"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Temperatura</label>
          <input
            type="text"
            class="form-control"
            formControlName="arrivalTemperature"
            maxlength="2"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
    >
      Fechar
    </button>
    <button type="submit" class="btn btn-primary">
      Salvar
    </button>
  </div>
</form>
