<div class="row delivery" [ngClass]="{ 'delivery--pair': index % 2 == 0 }">
  <div class="col-12">
    <div class="row">
      <div class="col-md-1 line text-center">
        {{ delivery.requestCode }}
      </div>
      <div class="col-md-3 line">
        {{ delivery.customerName }}
      </div>
      <div class="col-md-4 line">
        {{ delivery.fullAddress }}
      </div>
      <div class="col-md-1 line">
        <span
          *ngIf="delivery.status == 'canceled'"
          class="status status--canceled"
          >CANCELADO</span
        >
        <span
          *ngIf="delivery.status == 'pending'"
          class="status status--pending"
          >PENDENTE</span
        >
        <span
          *ngIf="delivery.status == 'motoboy'"
          class="status status--motoboy"
          >MOTOBOY</span
        >
        <span
          *ngIf="delivery.status == 'delivered'"
          class="status status--delived"
          >ENTREGUE</span
        >
      </div>
      <div class="col-md-3 line actions">
        <div class="row pb-3">
          <div class="col">
            <button
              class="btn btn-secondary"
              (click)="edit(delivery._id)"
              placement="bottom"
              ngbTooltip="Editar"
            >
              <i class="fa fa-edit"></i>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="delivery.status == 'pending'">
          <div class="col">
            <div class="form-group" *ngIf="!loadingRealese">
              <div class="input-group mb-3">
                <select [(ngModel)]="motoboy" class="form-control">
                  <option value="" selected disabled>Selecione</option>
                  <option
                    *ngFor="let motoboy of motoboyList"
                    [value]="motoboy._id"
                    >{{ motoboy.name }}</option
                  >
                </select>
                <div class="input-group-append">
                  <button
                    class="btn btn-success"
                    (click)="release(delivery._id)"
                    placement="bottom"
                    ngbTooltip="Liberar"
                  >
                    <i class="fa fa-check-circle"></i>
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="loadingRealese">
              Carregando...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center py-1" *ngIf="delivery.deliveredUser">
    <small> Motoboy: {{ delivery.deliveredUser.name }} </small>
    <small *ngIf="delivery.receivedBy">
      | Recebido por {{ delivery.receivedBy }}
    </small>
    <small *ngIf="delivery.paymentMethod">
      | Pagamento em
      <span *ngIf="delivery.paymentMethod == 'money'">Dinheiro</span
      ><span *ngIf="delivery.paymentMethod == 'card'">Cartão</span>
    </small>
    <small *ngIf="delivery.amountReceivable">
      | Valor R${{ delivery.amountReceivable }}
    </small>
  </div>
</div>
