RewriteEngine On

# Force https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>